<h2 id='title'>Welcome to Ember.js</h2>

{{#if session.isAuthenticated}}
  <button {{ action 'invalidateSession' }}>Sign out</button>
  Signed in as {{session.currentUser.username}}
{{else}}
  <button {{action 'authenticate' 'github-oauth2'}}>Sign in with Github</button>
{{/if}}

{{outlet}}
